{% extends 'inicio/base.html' %}
{% load static %}
{% block content %}
    <section id="about">
      <div class="container">
        <h2>About Me</h2>
        <center>
          <p>Hey! I am Guilherme, a daring programmer from Brazil and I seek to combine what I learned in technical education and what I am learning in college to create innovative codes.</p>
          <br><br>
          <p>This website is fully made with Django, HTML and CSS</p>
        </center>
      </div>
    </section>
    <section id="projects">
      <div class="container">
        <h2>My Projects</h2>
        <div class="projects-container">
          <div class="project">
            <a href="https://github.com/GuilhermeGodoi/TumorDetectionAPP">
              <img id="tccimg" src="{% static 'assets/tcc.png' %}" alt="Project 1">
              <h3>Tumor Detection</h3>
              <p>Final Paper at Technical College.<br>ComputerVision, Artificial Inteligence, Python and more.</p>
            </a>
          </div>
          <div class="project">
            <a href="https://github.com/GuilhermeGodoi/AutomacaoWebPythonWhatsapp">
            <img id="automacaoimg" src="{% static 'assets/python.png'%}" alt="Project 2">
            <h3>Web Automation</h3>
            <p>Whatsapp Web automation to change theme and send messages.<br>Selenium, Python.</p>
            </a>
          </div>
          <div class="project">
            <a href="https://github.com/GuilhermeGodoi/NLP_Chatbot">
            <img id="chatbotimg" src="{% static 'assets/chatbot.png'%}" alt="Project 3">
            <h3>Chatbot</h3>
            <p>Natural Language Processing Chatbot that sell some cool things. Python, Keras, NLTK and more.</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <h2>Get In Touch</h2>
        <form action="{% url 'email' %}">
        <input type="text" placeholder="Your Name">
        <input type="email" placeholder="Your Email">
        <textarea placeholder="Your Message"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </section>
{% endblock %}